body {
    height: 100vh;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

.hvit-ramme {
    position: relative;
    border: solid rgb(155, 151, 151);
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

}


img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#tekst-struktur {
    position: absolute;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 260%;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.752)
}


#ronaldo {
    position: absolute;
    width: 30%;
    height: 50%;
    transform: scaleX(-1);



    
}